@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-primary: #16191a;
  --color-secondary: #272a2e;

  /* Element Backgrounds */
  --color-misc-01: #525c6d;
  --color-misc-02: #42bfdd;
  --color-misc-03: #a855f7;

  /* Borders */
  --color-border-01: #904c77;
  --color-border-02: #215bf0;

  /* Typography */
  --color-title-01: #6cc1fa;
  --color-title-02: #FADADD;

  --color-txt-01: #89A6A8;
  --color-txt-02: #ffffff;
  --color-txt-03: #F59B0E;
}



#notFoundImg {
  background-image: url(../app/img/aizen404.png);
  background-repeat: no-repeat;
  background-size: cover;
    aspect-ratio: 1/1;
}

#maintenanceImg {
  background-image: url(../app/img/PageUnderMaintenance.png);
  background-repeat: no-repeat;
  background-size: cover;  aspect-ratio: 1/1;
}

